//
//  qa_debug.xcconfig
//  CTWChallenge
//
//  Created by Marcelo Antunes on 5/21/19.
//  Copyright © 2019 Marcelo Antunes. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "../base.xcconfig"

PRODUCT_NAME = CTWChallenge_QA
PRODUCT_BUNDLE_IDENTIFIER = pt.ctw.app.challenge.qa
PRODUCT_VERSION_NUMBER = 0.0.1
